/* .chekboxSection {
  width: 100%;
  height: 100%;

  display: flex;
}

.chekboxSection > div:first-child {
  width: 40px;
  height: 100%;
  display: grid;
  justify-content: flex-start;
  padding: 0 10px;
}

.chekboxSection > div:last-child {
  width: 70%;
  height: 100%;
  display: grid;
  justify-content: flex-start;
  padding: 0 10px;
  padding: 0px 0px 10px 0px;
}

.chekboxSection > div > input {
  width: 20px;
  height: 20px;
  cursor: pointer;
} */

.chekboxDiv {
  border: solid red;
  display: grid;
  justify-content: flex-start;
}
